<div class="app">
  <div class="grid">
    <div class="main_picture grid l-12">
      <div class="main_picture-total">
        <div class="main_picture-icon"><i class="icon_tab fa-solid fa-chevron-left"></i></div>
        <div class="main_picture-tab">
          <img src="https://file.hstatic.net/1000402464/file/bn_web_thangs_3.22_818d54aa14604bb39881355dc33a5556.jpg"
            alt="female-lazy" class="female-lazy">
        </div>
        <div class="main_picture-icon"><i class="icon_tab fa-solid fa-chevron-right"></i></div>
      </div>
    </div>
    <div class="advertisement">
      <div class="advertisement_month grid wide l-o-2 l-8">
        <div class="row">
          <div class="advertisement_month-conten l-12">
            <h1 class="">TIÊU ĐIỂM THÁNG 3</h1>
          </div>
        </div>
      </div>
      <div class="advertisement_month-picture grid wide l-o-2 l-8">
        <div class="row sm-gutter">
          <a href="/collections" class="col l-4 conten">
            <img src="https://file.hstatic.net/1000402464/file/bn_web_thangs_3.22_818d54aa14604bb39881355dc33a5556.jpg"
              alt="" class="tab">
            <div class="conten">
              <h4>VẺ ĐẸP CỦA HẠNH PHÚC</h4>
              <p>Hãy đánh thức vẻ đẹp nội tại tực rỡ bên trong Nàng cùng BST Freelacer.</p>
            </div>
          </a>
          <a href="/collections" class="col l-4 conten">
            <img src="https://file.hstatic.net/1000402464/file/1600x1000-02_33f293be4aab4b3e8c49457cc88442a0.jpg" alt=""
              class="tab">
            <div class="conten">
              <h4>SANG TRONG & TINH TẾ</h4>
              <p>BST Phụ Kiện Chính Hãng sang trọng với các thiết kế hoàn toàn mới.</p>
            </div>
          </a>
          <a href="/collections" class="col l-4 conten"> <img
              src="https://file.hstatic.net/1000402464/file/1600x1000-01_9493f360613a4ba2aeeaeaf66666cc84.jpg" alt=""
              class="tab">
            <div class="conten">
              <h4>BỀN BỈ THEO TIÊU CHUẨN MỸ</h4>
              <p>Balo JOHN HENRY - Người bạn đồng hành đáng tin cậy cùng Chàng chinh phục thành công.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="product grid wide l-o-2 l-8">
      <div class="row">
        <div class="product_nav-header">
          <div class="product_nav">
            <h5 class="product_nav-text">ƯU ĐÃI GIẢM GIÁ GIỚI HẠN</h5>
            <a href="/collections" class="product_nav-link">CÙNG QUÀ TẶNG CHÍNH HÃNG CAO CẤP</a>
          </div>
        </div>
      </div>
    </div>
    <div class="product_container grid wide l-o-2 l-8">
      <div class="row sm-gutter">
        <div class="l-6 col">
          <div class="row sm-gutter">
            <div class="col l-6">
              <a href="/collections" class="product-link">
                <img
                  src="https://product.hstatic.net/1000402464/product/ks21ss43c-scwk_moroccan_blue__2__6a73065cc0b64ff98c63aa3587195308_large.jpg"
                  alt="" class="product-img1">
                <div class="roduct_container-discount-list-text">
                  <div class="price">
                    <div class="price-new">560,000</div>
                    <div class="price-old">700,000</div>
                  </div>
                  <p>Áo sơ mi button-down WS21SS50C-LC</p>
                </div>
                <div class="roduct_container-discount-list-color">
                  <div class="color-picture-1-1"></div>
                  <div class="color-picture-1-2"></div>
                </div>
              </a>
            </div>
            <div class="col l-6">
              <a href="/collections" class="product-link">
                <img
                  src="https://product.hstatic.net/1000402464/product/ws20ss31t-ld___dp20ss03t-ep__2__b6b0f030101f4585ab128a21dd65ed14_large.jpg"
                  alt="" class="product-img1">
                <div class="roduct_container-discount-list-text">
                  <div class="price">
                    <div class="price-new">560,000</div>
                    <div class="price-old">700,000</div>
                  </div>
                  <p>Áo Khoác JK21SSO5T-KA</p>
                </div>
                <div class="roduct_container-discount-list-color">
                  <div class="color-picture-2-1"></div>
                  <div class="color-picture-2-2"></div>
                </div>
              </a>
            </div>
            <div class="col l-6">
              <a href="/collections" class="product-link">
                <img
                  src="https://product.hstatic.net/1000402464/product/ws20ss33c-ldcf___dp20ss02c-ep__2__14a659c2ca0d46c59b4b97c5feb5120e_large.jpg"
                  alt="" class="product-img1">
                <div class="roduct_container-discount-list-text">
                  <div class="price">
                    <div class="price-new">560,000</div>
                    <div class="price-old">700,000</div>
                  </div>
                  <p>Quần Jeans nam form ôm JN21SS29-SL</p>
                </div>
                <div class="roduct_container-discount-list-color">
                  <div class="color-picture-3-1"></div>
                  <div class="color-picture-3-2"></div>
                </div>
              </a>
            </div>
            <div class="col l-6">
              <a href="/collections" class="product-link">
                <img
                  src="https://product.hstatic.net/1000402464/product/ws20ss48c-ldcf___dp20ss03t-ep_dc7acfa6f63b47ddb9ea27067e459234_47228da020f64638b47a913a5c2fa04a_large.jpg"
                  alt="" class="product-img1">
                <div class="roduct_container-discount-list-text">
                  <div class="price">
                    <div class="price-new">560,000</div>
                    <div class="price-old">700,000</div>
                  </div>
                  <p>Áo thun cổ tròn sọc dọc TS20FH26c-RG</p>
                </div>
                <div class="roduct_container-discount-list-color">
                  <div class="color-picture-4-1"></div>
                  <div class="color-picture-4-2"></div>
                </div>
              </a>
            </div>
          </div>

        </div>
        <div class="product_container-picture l-6 grid">
          <div class="col l-12">
            <a href="/collections" class="product-link-full">
              <img
                src="https://file.hstatic.net/1000402464/file/banner_1178x2167-01_04c00161e33244c5a6c9c809d84ca827.jpg"
                alt="" class="product-img-full">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="product_total">
      <div class="product_total-center">
        <a href="/collections" class="product_total-text">XEM THÊM TẤT CẢ SẢN PHẨM MỚI</a>
      </div>
    </div>
    <div class="product_sales grid wide l-o-2 l-8">
      <div class="row sm-gutter">
        <div class="l-6 col">
          <img src="https://file.hstatic.net/1000402464/file/ao_polo_94fbda67da7d4473bad4a8a0264fa59f.jpg" alt=""
            class="product_sales-img-full">
        </div>
        <div class="l-6 col">
          <div class="row sm-gutter">
            <div class="l-6 col">
              <img src="https://file.hstatic.net/1000402464/file/ao_khoac_aee3a31f1b5c4464a6669c2fb8a179c3.jpg" alt=""
                class="product_sales-1-4">
            </div>
            <div class="l-6 col">
              <img src="https://file.hstatic.net/1000402464/file/ao_so_mi_385285d929ed4ed5b78dd627a883bcbe.jpg" alt=""
                class="product_sales-1-4">
            </div>
            <div class="l-6 col">
              <img src="https://file.hstatic.net/1000402464/file/quan_jeans_460392ce71144bcd9a8bd137a9885d1c.jpg" alt=""
                class="product_sales-1-4">
            </div>
            <div class="l-6 col">
              <img src="https://file.hstatic.net/1000402464/file/quan_shorts_717ea2af7acc499a9b636ae3a3284e26.jpg"
                alt="" class="product_sales-1-4">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="slogan grid wide l-o-2 l-8">
      <div class="slogan-total">
        <div class="slogan-logo">
          <img src="https://w.ladicdn.com/s750x400/5f0522eee09476169a272758/logo-ngang-03-20200715044524.png" alt=""
            class="slogan-logo-img">
        </div>
        <div class="slogan-text">
          <p class="slogan-text-p">Với thiết kế đơn giản nhưng tinh tế, đồng thời trang phục Freelancer mang đến cho
            người mặc những ưu điểm vượt bậc: Được tạo kiểu để khéo léo che đi những khuyết điểm trên cơ thể. Có thể
            mix-match biến hóa nhiều kiểu mặc chỉ từ những items quen thuộc. Luôn thời trang và không bao giờ lỗi mốt.
            Giá hợp lý cho sản phẩm chất lượng tuyệt vời. Tiết kiệm thời gian trong việc giặt ủi, phối đồ, cực dễ mặc và
            phù hợp với mọi phong cách Một Freelancer HOÀN TOÀN MỚI đang chờ bạn khám phá!</p>
        </div>
        <div class="slogan-fashion">
          <div class="row">
            <div class="l-3">
              <img src="https://file.hstatic.net/1000402464/file/1.-ao-kieu_adc119e8cac64b549b27b1d8ab5ee133.png" alt=""
                class="slogan-fashion-img">
              <div class="slogan-fashion-text">
                <span>ÁO KIỂU</span>
              </div>
            </div>
            <div class="l-3">
              <div class="slogan-fashion-text">
                <span>BALZER & ÁO KHOÁC</span>
              </div>
              <img src="https://file.hstatic.net/1000402464/file/2.-blazer_172e9d087432412b9395bd5ca56949e3.png" alt=""
                class="slogan-fashion-img">
            </div>
            <div class="l-3">
              <img src="https://file.hstatic.net/1000402464/file/3.-jeans_9ed35c163966400380b3b624e913444b.png" alt=""
                class="slogan-fashion-img">
              <div class="slogan-fashion-text">
                <span>JEANS NỮ</span>
              </div>
            </div>
            <div class="l-3">
              <div class="slogan-fashion-text">
                <span>ĐẦM</span>
              </div>
              <img src="https://file.hstatic.net/1000402464/file/4.-dam_9fc41e29203941c6b0ba6491267e86ad.png" alt=""
                class="slogan-fashion-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="store">
      <div class="grid wide l-o-2 l-8">
        <div class="l-6">
          <div class="row">
            <div class="store-text">
              <div class="store-text-header">
                <span class="store-text-header-span">Hệ Thống Cửa Hàng</span>
              </div>
              <div class="store-text-content">
                <span class="store-text-content">Hiện nay thương hiệu JOHN HENRY & FREELANCER đã có mặt tại hầu hết các
                  tỉnh, thành phố trên toàn quốc. Không gian mua sắm thời trang hàng hiệu đẳng cấp, sang trọng nhưng
                  cũng không kém phần thoải mái, tiện nghi là điều quý khách hàng sẽ cảm nhận được khi ghé thăm bất cứ
                  cửa hàng nào của JOHN HENRY.</span>
              </div>
              <div class="store-text-adress l-o-4">
                <span class="store-text-adress-span">
                  <a href="" class="store-text-adress-span-link">Địa chỉ cửa Hàng</a>
                </span>
              </div>
            </div>
          </div>

        </div>
        <div class="l-6"></div>
      </div>
    </div>
  </div>
</div>