<div class="footer-end">
  <div class="footer grid wide l-8 l-o-4">
    <div class="row">
      <div class="l-4 col">
        <div class="footer_header">
          <span class="footer_header-text">GIỚI THIỆU</span>
        </div>
        <div class="footer_container">
          <span class="footer_container-logo">
            <img src="https://file.hstatic.net/1000402464/file/footer_logo_1_bc78314a7c064aa3b79a5484cc4d81ab.png"
              alt="" class="footer_container-logo-img">
          </span>
          <span class="footer_container-logo">
            <img src="https://file.hstatic.net/1000402464/file/footer_logo_2_1b1de8ece9924b82bc1981c72fa5cb8f.png"
              alt="" class="footer_container-logo-img">
          </span>
        </div>
        <div class="footer_text">
          <ul class="footer_text-list">
            <li class="footer_text-list-li">
              <span>Công ty TNHH TMG</span>
              <span>Mã Số Thuế: 0302966294</span>
            </li>
            <li class="footer_text-list-li">
              <span>Địa chỉ: 172 Nguyễn Trãi, Phường Bến Thành, Quận 1, TP. HỒ CHÍ MINH</span>
            </li>
            <li class="footer_text-list-li">
              <span>Email: cskh@viet-style.com</span>
              <span>Hotline: 0914 516 446 - 0906 954 368</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="l-4 col">
        <div class="footer_header">
          <span class="footer_header-text">DÀNH CHO KHÁCH HÀNG</span>
        </div>
        <div class="footer_text">
          <ul class="footer_text-list">
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Đăng ký và kiểm tra thành viên</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Hướng dẫn thanh toán</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Giao hàng và phí vận chuyển</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Chính sách đổi trả</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Chính sách bảo mật</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Điều khoản thanh toán</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="l-4 col">
        <div class="footer_header">
          <span class="footer_header-text">BEST SELLERS</span>
        </div>
        <div class="footer_text">
          <ul class="footer_text-list">
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Áo Polo John Henry</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Áo khoác John Henry</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Polo X</a>
              </span>
            </li>
            <li class="footer_text-list-li">
              <span>
                <a class="footer_text-list-li-link" href="">Áo Sơ Mi Nữ</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>