<div class="app">
        <div class="grid">
            <div class="top">
                <span class="top-icon"> <i class="fa-solid fa-bell"></i></span>
                    <h1 class="top-text">
                        GIAO HÀNG MIỄN PHÍ CHO ĐƠN HÀNG TỪ 299.000
                    </h1>
            </div>
            <div class="under-top">
                <div class="container_header grid l-10">
                    <div class="navbar">
                        <div class="container_header_logo ">
                            <a href="/"><img class="container_header-logo-size" src="https://file.hstatic.net/1000402464/file/newlogongang-02-20200714035121_8d76b14db48244c891f692fd40ac6d43.png" alt="JOHN HENRY & FREELANCER"></a>
                        </div>
                    </div>
                    <div class="container_header-menu grid">
              <ul class="container_header_menu-list">
                <li class="container_header_menu-list-price"><a class="container_header_menu-list-price-link"href="">GIÁ MỚI HẤP DẪN</a>
                    <div class="nav_header">
                      <ul class="nav_header-price">
                        <li class="nav_header-list"> <a class="nav_header-list-jh text_color"href="#">JOHN HENRY(SPECIAL OFFER)</a> </li>
                        <li class="nav_header-list"> <a class="nav_header-list-jh text_color"href="#">FREELANCER(SPECIAL OFFER)</a> </li>
                      </ul>
                    </div>
                </li>
                <li class="container_header_menu-list-price"> <a class="container_header_menu-list-price-link" href="">JOHN HENRY</a> 
                    <div class="product_header">
                      <ul class="product_header-list">
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">ÁO JH</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">ÁO POLO</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">ÁO KHOÁC</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">ÁO THUN</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">ÁO LEN</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">ÁO SƠ MI</a> </li>                       
                      </ul>
                      <ul class="product_header-list">
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">QUẦN JH</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">QUẦN KHAKI</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">QUẦN JEANS</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">QUẦN TÂY</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">QUẦN SHORT</a> </li>                       
                      </ul>
                      <ul class="product_header-list">
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">PHỤ KIỆN JH</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">QUẦN LÓT NAM</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">KHĂN CHOÀNG</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">VỚ JOHN HENRY</a> </li>
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">DÂY NỊT - THẮT LƯNG</a> </li>                       
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">BÓP - VÍ</a> </li>                       
                        <li class="product_header-list-tshirt"> <a class="product_header-list-item "href="#">BA LÔ CAO CẤP</a> </li>
                      </ul>
                    </div>
                </li>
                <li class="container_header_menu-list-price"><a class="container_header_menu-list-price-link" href="">FREELANCER(FOR HER)</a>
                      <div class="product-forher">
                        <ul class="product-forher-list">
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ĐẦM</a> </li>
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO BLAZER & ÁO KHOÁC</a> </li>
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO LEN NỮ</a> </li>
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO SƠ MI NỮ</a> </li>
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO T-SHIRT NỮ</a> </li>
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO KIỂU NỮ</a> </li>
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO POLO NỮ</a> </li>                       
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">QUẦN JEANS NỮ</a> </li>                       
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">CHÂN VÁY</a> </li>                       
                          <li class="product-forher-item"> <a class="product_forher-item-link"href="#">ÁO TÂY NỮ</a> </li>
                        </ul>
                </li>
                <li class="container_header_menu-list-price">
                      <div class="store_location">
                        <div class="location"><i class="fa-solid fa-map-location"></i></div>
                        <div class="store-small"><a class="container_header_menu-list-price-link" href="">CỬA HÀNG</a></div>
                      </div> 
                </li>
              </ul>
                    </div>
                    <div class="container_login">
              <div class="search">
              <button class="icon-link search-focus"><i class="fa-solid fa-magnifying-glass"></i></button>
              <div class="search_table">
                <div class="search_table-text">TÌM KIẾM</div>
                <div class="search_table-input">
                  <div class="search_table-input-item">
                    <input type="text" class="search_table-input-click" placeholder="Tìm kiếm sản phẩm..." >
                  </div>
                  <div class="search_table-input-item-icon">
                    <a href="" class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></a>
                  </div>
                </div>
              </div>
              </div>
              <div class="user">
              <button class="icon-link user-focus"><i class="fa-solid fa-user"></i></button>
              <div class="user_table">
                <div class="user_table-header">
                  <h3 class="login-text">ĐĂNG NHẬP TÀI KHOẢN</h3>
                  <p class="login-text-small">Nhập email và mật khẩu của bạn</p>
                </div>
                <div class="user_table-input">
                  <input type="text" class="user_table-input-email" placeholder="Email" >
                  <input type="text" class="user_table-input-pass" placeholder="Mật Khẩu" >
                </div>
                <div class="user_table-captcha">
                  <p class="login-text-small">This site is protected by reCAPTCHA and the Google <a href="" class="login-text-small-color">Privacy Policy</a> and <a href="" class="login-text-small-color">Terms of Service</a> apply.</p>
                </div>
                <div class="user_table-login">
                  <a href="" class="user_table-login-text">ĐĂNG NHẬP</a>
                </div>
                <div class="user_table-footer">
                  <p class="user_table-footer-text1">Khách hàng mới? <a class="user_table-footer-text-link" href="">Tạo tài khoản</a> </p>
                  <p class="user_table-footer-text2">Quên mật khẩu? <a class="user_table-footer-text-link"href="">Khôi phục mật khẩu</a> </p>
                </div>
              </div>
              </div>
              <div class="heart">
              <a class="icon-link" href=""><i class="fa-solid fa-heart"></i></a>
              </div>
              <div class="cart">
              <button class="icon-link cart-focus"><i class="fa-solid fa-cart-shopping"></i></button>
              <div class="cart_table">
                <div class="cart_table-header">
                  <span class="cart_table-header-text">Giỏ Hàng</span>
                </div>
                <div class="cart_table-container">
                  <div class="l-12 col">
                        <div class="main-product">
                        <div class="main-product-img">
                            <img class="main-product-img-main" src="https://product.hstatic.net/1000402464/product/ks22ss16p-scwk_blue__1__be0c48ebed774641843333fe80e8d0db_medium.jpg" alt="">
                        </div>
                        <div class="main-product-text">
                            <div class="main-product-fullname">
                                <div class="main-product-fullname-text">Áo thun nam cổ bẻ tay ngắn</div>
                                <div class="main-product-fullname-delete"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                            <div class="main-product-price">350</div>
                            <div class="main-product-size">Blue/S</div>
                        </div>
                        </div>
                        <div class="main-product">
                        <div class="main-product-img">
                            <img class="main-product-img-main" src="https://product.hstatic.net/1000402464/product/ks22ss16p-scwk_blue__1__be0c48ebed774641843333fe80e8d0db_medium.jpg" alt="">
                        </div>
                        <div class="main-product-text">
                            <div class="main-product-fullname">
                                <div class="main-product-fullname-text">Áo thun nam cổ bẻ tay ngắn</div>
                                <div class="main-product-fullname-delete"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                            <div class="main-product-price">350</div>
                            <div class="main-product-size">Blue/S</div>
                        </div>

                        </div>
                        <div class="main-product">
                        <div class="main-product-img">
                            <img class="main-product-img-main" src="https://product.hstatic.net/1000402464/product/ks22ss16p-scwk_blue__1__be0c48ebed774641843333fe80e8d0db_medium.jpg" alt="">
                        </div>
                        <div class="main-product-text">
                            <div class="main-product-fullname">
                                <div class="main-product-fullname-text">Áo thun nam cổ bẻ tay ngắn</div>
                                <div class="main-product-fullname-delete"><i class="fa-solid fa-xmark"></i></div>
                            </div>
                            <div class="main-product-price">350</div>
                            <div class="main-product-size">Blue/S</div>
                        </div>

                        </div>
                        </div>
                </div>
                <div class="cart_price">
                  <span class="cart_price-text">TỔNG TIỀN</span>
                  <span class="cart_price-number">0đ</span>
                </div>
                <div class="cart_footer">
                  <span class="cart_footer-history">
                    <a href="/cart" class="cart_footer-histoty-link">XEM GIỎ HÀNG</a>
                  </span>
                  <span class="cart_footer-payment">
                    <a href="" class="cart_footer-payment-link">THANH TOÁN</a>
                  </span>
                </div>
              </div>
              </div>
                    </div>
                </div>
            </div>
        </div>
</div>